.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #223a5f;
  height: 100vh;
}
.score-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid white;
}
.score-board {
  background-color: white;
  padding: 3px;
  margin: 15px;
  width: 150px;
  border-radius: 9px;
  text-align: center;
}
.items-cont {
  margin-right: 400px;
  color: white;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 20px;
}
.score {
  font-weight: 800px;
  font-size: 35px;
  font-family: 'Roboto';
}
.popup-btn {
}
.trigger-button1 {
  margin-left: 800px;
  border-radius: 7px;
  font-size: 19px;
  margin: 20px;
}
.rule-cont {
  width: 580px;
  margin-left: 100px;
  padding: 10px;
}
.trigger-button {
  margin-left: 700px;
}
